<a href="https://colab.research.google.com/github/NhuY26/BT-Pandas/blob/main/BT_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Câu 1: Khởi tạo 1 Series với giá trị rỗng

In [2]:
pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

Câu 2: Giả sử có 1 vector hàng a có kích thước (1x7) được biểu diễn trong NumPy, hãy tạo 1
series tương ứng với các giá trị được sinh ngẫu nhiên.

In [3]:
a = np.random.randint(1,10,7)
print(a)
aa = pd.Series(a)
aa

[4 4 8 7 6 1 3]

0    4
1    4
2    8
3    7
4    6
5    1
6    3
dtype: int64

Câu 3: Giả sử có 1 vector hàng a có kích thước (1x7), hãy nhập các giá trị cho 7 phần tử này từ
bàn phím và tạo series tương ứng.

In [4]:
a = np.array([int(input(f"nhap phan tu thu {i+1}: ")) for i in range(7)])
print("Phan tu da nhap: ",a)
print("series cua 7 phan tu bat ky: ")
print(pd.Series(a))

nhap phan tu thu 1: 2
nhap phan tu thu 2: 7
nhap phan tu thu 3: 1
nhap phan tu thu 4: 2
nhap phan tu thu 5: 3
nhap phan tu thu 6: 1
nhap phan tu thu 7: 4
Phan tu da nhap:  [2 7 1 2 3 1 4]
series cua 7 phan tu bat ky:
0    2
1    7
2    1
3    2
4    3
5    1
6    4
dtype: int64

Câu 4: Giả sử có 1 vector cột có kích thước (7x1) được biểu diễn trong NumPy, hãy tạo Series
tương ứng.

In [5]:
a = np.random.randint(1,10,[7,1])
a

aa = a.reshape(7,)
print(pd.Series(aa))

0    4
1    5
2    1
3    6
4    3
5    6
6    8
dtype: int64

Câu 5: Chuyển đổi dữ liệu, hãy thực hiện các yêu cầu sau:
- Chuyển 1 list thành 1 series
- Chuyển 1 tuple thành 1 series
- Chuyển 1 dictionary thành 1 series

In [6]:
# list thành sẻies
l1 = [1,2,3,4]
print("list :",l1)
print(pd.Series(l1), "\n")

# tuple thành sẻié
t1 = (1,3,4,5)
print("tuple: ",t1)
print(pd.Series(t1), "\n")

# dictionary thành sẻies
d1 = {"year": 2003 , "age":18 }
print("dictionary: ",d1)
print(pd.Series(d1))

list : [1, 2, 3, 4]
0    1
1    2
2    3
3    4
dtype: int64

tuple:  (1, 3, 4, 5)
0    1
1    3
2    4
3    5
dtype: int64

dictionary:  {'year': 2003, 'age': 18}
year    2003
age       18
dtype: int64

Câu 6: Mỗi phần tử của series đều gắn liền với các chỉ số (index) tương ứng, hãy tạo một series
có kích thước (1x20) với giá trị ngẫu nhiên:
- Xuất series ra màn hình
- Xuất các chỉ số của series ra màn hình
- Thay đổi cách đánh chỉ số mặc định của series từ đánh chỉ số bằng số nguyên sang các kiểu
đánh chỉ số bằng label và in kết quả ra màn hình
Gợi ý:
- Hàm loc() dùng cho chỉ số label
- Hàm iloc() dùng cho chỉ số đạng số nguyên
- Hàm ix(): dùng cho cả 2 loại chỉ số trên

In [7]:
x = pd.Series(np.random.randint(1,20,[20]))
print("chi so cua series: ",x.index)

print(x, "\n")

l1 = ['a','b','c','d','e','f','g','h','l','m','n','i','j','k','o','p','q','t','u','w']
x.index=l1
print("\n", x)

chi so cua series:  RangeIndex(start=0, stop=20, step=1)
0      8
1     19
2     14
3      2
4      3
5      4
6      7
7      4
8      9
9     15
10    11
11     7
12     7
13     5
14     8
15    15
16    15
17     5
18    19
19     1
dtype: int64


 a     8
b    19
c    14
d     2
e     3
f     4
g     7
h     4
l     9
m    15
n    11
i     7
j     7
k     5
o     8
p    15
q    15
t     5
u    19
w     1
dtype: int64

Câu 7: Giả sử có series có kích thước (1x10), giá trị ngẫu nhiên, index được đánh từ ‘a’ trở đi,
hãy:
- Trích xuất các phần tử của Series có chỉ số là ‘a’, ‘c’, ‘e’
- Trích xuất các phần tử của Series có chỉ số từ 3 đến 6

In [8]:
b = pd.Series(np.random.randint(1,10,[10]))
l2 = ['a','b','c','d','e','f','g','h','i','j']
b.index = l2
print(b, "\n")
print("chi so a: ",b.loc['a'])
print("chi so c: ",b.loc['c'])
print("chi so e: ",b.loc['e'], "\n")

print(b)
print("chi so tu 3 den 6: ", "\n")
print(b.iloc[3:7])

a    9
b    2
c    8
d    6
e    5
f    2
g    3
h    4
i    3
j    5
dtype: int64

chi so a:  9
chi so c:  8
chi so e:  5

a    9
b    2
c    8
d    6
e    5
f    2
g    3
h    4
i    3
j    5
dtype: int64
chi so tu 3 den 6:

d    6
e    5
f    2
g    3
dtype: int64